/* LAYOUT */

/* side by side */
.reveal .side-by-side {
  display: flex;
  flex-direction: row;
}
.reveal .side-by-side.two * {
  max-width: 40%;
  margin: 1em;
}

.reveal .image-cascade p {
  position: fixed;
  top: 50px;
}

.reveal .image-cascade img {
  position: fixed;
}
.reveal .image-cascade .landscape {
  width: 30%;
}
.reveal .image-cascade .portrait {
  height: 30%;
}
.reveal .image-cascade img:nth-child(1) {
  top: 20%;
  left: 20%;
}
.reveal .image-cascade img:nth-child(2) {
  top: 40%;
  left: 40%;
}
.reveal .image-cascade img:nth-child(3) {
  top: 60%;
  left: 60%;
}

.reveal .toc {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.reveal .toc * {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
}
.reveal .toc .selected {
  background: white;
  color: black;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
}
/* LISTS */

/* list with no-bullets */
.reveal .no-bullets {
  list-style-type: none;
}
.reveal .no-bullets li::before {
  content: "\200B";
}

/* flat definition list */
.reveal .flat-dl {
  display: grid;
  grid-template-columns: auto auto;
}
.reveal .flat-dl dt {
  text-align: right;
}

/* TYPOGRAPHY */
.reveal .smaller {
  font-size: 0.6em;
}

/* EFFECTS */
/* highlight with a big red cross */
.reveal section .highlight-red.crossed.visible:after {
  content: "";
  display: block;
  position: fixed; /* could also be absolute */ 
  margin: auto;
  top: 50px; left: 50px;
  bottom: 50px; right: 50px;
  background: url("data:image/svg+xml;utf8,\
  <svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='xMidYMid' viewBox='0 0 100 100'>\
  <path d='M80 20 L20 80' stroke='red' stroke-width='3' stroke-linecap='round'/>\
  <path d='M20 20 L80 80' stroke='red' stroke-width='3' stroke-linecap='round'/>\
  </svg>");
  background-repeat:no-repeat;
  background-position:center center;
  background-size: 100% 100%, auto;
}
